<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ufcspa.tc6m">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controle.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".controle.FormularioActivity"
            android:label="@string/title_activity_formulario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controle.ListaPacientesActivity"
            android:label="@string/title_activity_lista_pacientes"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controle.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controle.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:parentActivityName=".controle.ListaPacientesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ufcspa.tc6m.controle.ListaPacientesActivity" />
        </activity>
        <activity
            android:name=".controle.TesteActivity"
            android:label="@string/title_activity_teste"
            android:parentActivityName=".controle.PerfilActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.edu.ufcspa.tc6m.controle.PerfilActivity" />
        </activity>
        <activity
            android:name=".controle.CronometroActivity"
            android:label="@string/title_activity_cronometro"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
